defaults: &defaults
  actual_period: <%= 1.day %>
  invite_valid_for: <%= 7.day %>
  size_limits:
    family: <%= 20 %>
    closies: <%= 7 %>
    special: <%= 2 %>
  size_type_counts:
    family: <%= 1 %>
    closies: <%= 2 %>
    special: <%= 3 %>

development:
  <<: *defaults
  actual_period: <%= 100.days %>

test:
  <<: *defaults

production:
  <<: *defaults
